div#encode h2,
div#decode h2 {
  margin-block-start: 0px;
  margin-inline-start: 0px;
}

div#encode textarea,
div#decode textarea {
  min-height: 30px;
  max-width: calc(100% - 10px);

  height: 50px;
}

@media (orientation: portrait) {
  div#encode textarea,
  div#decode textarea {
    resize: vertical;
  }
}

@media (orientation: landscape) {
  div#encode hr,
  div#decode hr {
    max-width: 600px;
    margin-left: 0px;
  }
}

div#encode button,
div#decode button {
  margin-top: 10px;
}

div#encode input#encode-output,
div#decode input#decode-output {
  margin-top: 20px;
}

div#encode textarea#encode-output,
div#decode textarea#decode-output {
  margin-bottom: 0px;
}

div#encode input#encode-compress {
  margin-right: -5px;
}

div#encode span#encode-length {
  display: inline-block;
  margin-top: 10px;
}

div#encode textarea {
  margin-bottom: 10px;
}
